button {
  font: inherit;
  border: none;
  padding: var(--padding-unit);
  background-color: var(--primary-color);
  color: var(--primary-color-alt);
}

button,
input,
textarea {
  border-radius: var(--border-radius);
}

a{
  color: white;
}
