:host {
  display: flex;
  flex-wrap: wrap;
  max-width: 50em;
  margin: 0 auto;
}

pre,
ol {
  flex: 1 1 auto;
  padding: 0;
}

pre {
  white-space: pre-wrap;
}

li {
  display: flex;
  list-style: none;
  margin: 0;
  padding: var(--padding-unit) 0;
}

.section {
  display: flex;
  padding: var(--padding-unit);
}

.column {
  overflow: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 110px);
}

.heading {
  font-weight: bold;
}

.heading,
.text,
.input {
  padding: var(--padding-unit);
}

.input {
  font: inherit;
  border: none;
}

.button {
  font: inherit;
  border: none;
  padding: var(--padding-unit);
  background-color: var(--current-user-color);
  color: var(--current-user-color-alt);
}

.row {
  display: flex;
}

.users {
  flex: 1 0 auto;
}

.users .input.user-name {
  flex: 1 1 auto;
}

.users .user-name.other:not(.is-online) {
  opacity: .25;
}

.messages {
  flex: 100 1 auto;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-height: calc(100vh - 110px);
}

.messages-list {
  flex: 1 1 auto;
  overflow: auto;
  overflow-x: hidden;
}

.messages-list .message {
  display: flex;
  flex-direction: column;
}

.messages-list .message.current-user {
  align-items: flex-end;
}

.messages-list .message.current-user .detail {
  flex-flow: row-reverse;
}

.messages-list .info {
  font-size: .667em;
  opacity: .667;
  margin: var(--padding-unit);
}

.messages-list .message .detail {
  display: flex;
}

.messages-list .message.current-user .user-name {
  display: none;
}

.messages-list .message.current-user .message-text {
  background-color: var(--current-user-color);
  color: var(--current-user-color-alt);
}

.messages-list .message .message-text {
  position: relative;
  white-space: pre-wrap;
  border-radius: var(--callout-border-radius);
  padding: var(--padding-unit) calc(2 * var(--padding-unit));
  margin: 0 var(--padding-unit);
  background-color: var(--user-color);
  color: var(--user-color-alt);
}

.messages-list .message .message-text::after {
  position: absolute;
  content: '';
  border: solid var(--callout-size) transparent;
  display: inline-block;
  width: 0;
  height: 0;
  opacity: .9;
}

.messages-list .message:not(.current-user) .message-text::after {
  top:  calc(var(--callout-border-radius) - .75  *var(--callout-size));
  left: calc(-1.5 * var(--callout-size));
  border-right-color: var(--user-color);
}

.messages-list .message.current-user .message-text::after {
  right:  calc(var(--callout-border-radius) - .75  *var(--callout-size));
  bottom: calc(-1.5 * var(--callout-size));
  border-top-color: var(--current-user-color);
}

.messages-list .message:not(:last-child) {
  padding: var(--padding-unit) 0;
  border-bottom: solid 2px var(--highlight);
  margin: var(--padding-unit) 0;
}

.messages .message.input {
  flex: 1 1 auto;
  resize: vertical;
  max-height: 6em;
}
