:host {
  --padding-unit: 4px;
  --callout-size: 5px;
  --callout-border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

pre,
ol {
  padding: 0;
}

pre {
  white-space: pre-wrap;
}

li {
  list-style: none;
  margin: 0;
}

.section {
  display: flex;
  padding: var(--padding-unit);
}

.column {
  overflow-y: auto;
  max-height: calc(100vh - 110px);
}

.heading {
  font-weight: bold;
}

.heading,
.text,
.input {
  padding: var(--padding-unit);
}

.input {
  font: inherit;
  border: none;
}

.button {
  font: inherit;
  border: none;
  padding: var(--padding-unit);
  background-color: #eee;
  color: #444;
}

.row {
  display: flex;
}

.users .user-name.other:not(.is-online) {
  opacity: .25;
}

.messages {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 110px);
}

.message.current-user {
  justify-content: flex-end;
}

.messages-list {
  flex: 1 1 auto;
  overflow-y: auto;
}

.messages-list .info {
  font-size: .8em;
  opacity: .8;
}

.messages-list .detail {
  display: flex;
}

.messages-list .current-user .detail {
  flex-flow: row-reverse;
}

.messages-list .current-user .message-text {
  background-color: #eee;
  color: #444;
}

.messages-list .message-text {
  position: relative;
  white-space: pre-wrap;
  border-radius: var(--callout-border-radius);
  padding: var(--padding-unit) calc(2 * var(--padding-unit));
  margin: 0 var(--padding-unit);
  color: #eee;
  background-color: #369;
}

.messages-list .message-text::after {
  position: absolute;
  top: calc(.9em - var(--callout-size));
  content: '';
  border: solid var(--callout-size) transparent;
  display: inline-block;
  width:0;
  height: 0;
}

.message:not(.current-user) .message-text::after {
  left: calc(-2 * var(--callout-size));
  border-right-color: #369;
}

.message.current-user .message-text::after {
  right: calc(-2 * var(--callout-size));
  border-left-color: #eee;
}

.messages-list .message:not(:last-child) {
  padding: var(--padding-unit) 0;
  border-bottom: solid 1px rgba(0, 0, 0, .1);
  margin: var(--padding-unit) 0;
}

.message.input {
  flex: 1 1 auto;
  resize: vertical;
  max-height: 6em;
}
