@import '../../global/component.css';

:host {
  display: block;
}

:host>section {
  display: grid;
  grid-template-columns: auto minmax(0, 50em) auto;
}

:host>section>* {
  grid-column: 2;
}

.head {
  background-color: var(--highlight);
  padding: var(--padding-unit) 0;
  min-height: var(--page-head-height);
}

.head>header {
  background-image: url('/assets/icon-96x96.png');
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: right var(--padding-unit) center;
}

.head>div {
  display: flex;
  align-items: center;
}

.body {
  min-height: calc(100 * var(--vh) - var(--page-head-height) - var(--page-foot-height));
}

.foot {
  background-color: var(--highlight);
  padding: var(--padding-unit) 0;
  min-height: var(--page-foot-height);
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.connect-button {
  margin-left: auto;
  margin-right: var(--padding-unit);
}

h1,
p,
button {
  margin: 0;
  padding: calc(.25 * var(--padding-unit)) var(--padding-unit);
}
