@import '../../global/component.css';

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header button{
  margin-left: auto;
}

h1, p {
  margin: 0;
  padding: 0 var(--padding-unit);
}

button {
  margin: var(--padding-unit);
}
