@import '../../global/component.css';

:host>section {
  display: grid;
  grid-template-columns: auto minmax(0, 50em) auto;
}

:host>section>* {
  grid-column: 2;
}

.head {
  background-color: var(--highlight);
  padding: var(--padding-unit) 0;
  min-height: var(--page-head-height);
}

.body {
  min-height: calc(100 * var(--vh) - var(--page-head-height) - var(--page-foot-height));
}

.foot {
  padding: var(--padding-unit) 0;
  height: var(--page-foot-height);
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header button {
  margin-left: auto;
}

h1,
p {
  margin: 0;
  padding: 0 var(--padding-unit);
}

button {
  margin: var(--padding-unit);
}
