@import '../../global/component.css';

:host {
  display: flex;
  flex-wrap: wrap;
  max-width: 50em;
  margin: 0 auto;
}

.users {
  flex: 1 0 auto;
}

.users .user-name.other:not(.is-online) {
  opacity: .25;
}

