@import './component.css';

:root {
  --padding-unit: 12px;
  --border-radius: 5px;
  --callout-size: .4em;
  --callout-border-radius: 1em;
  --text-line-height: 1.4;

  --color: #333;
  --color-alt: #ddd;

  --primary-color: #369;
  --primary-color-alt: #fff;

  --link-color: #def;

  --outline-color: #69c;

  --user-color: var(--color-alt);
  --user-color-alt: var(--color);
  --host-bot-color: #edb;
  --host-bot-color-alt: #000;
  --current-user-color: var(--primary-color);
  --current-user-color-alt: var(--primary-color-alt);

  --lowlight: rgba(255, 255, 255, .05);
  --highlight: rgba(0, 0, 0, .1);

  --vh: 1vh;
  --page-head-height: 90px;
  --page-foot-height: 75px;

  --error-color: #c99;
  --error-color-alt: #300;

  --success-color: #9c9;
  --success-color-alt: #030;
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #eee;
    --color-alt: #333;

    --link-color: #036;

    --lowlight: rgba(255, 255, 255, .5);
    --highlight: rgba(0, 0, 0, .05);
  }
}

body {
  background-color: var(--color);
  color: var(--color-alt);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
