* {
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  cursor: pointer;
}

pre,
ol {
  flex: 1 1 auto;
  padding: 0;
  margin: 0;
}

pre {
  white-space: pre-wrap;
}

li {
  display: flex;
  list-style: none;
  margin: 0;
  padding: calc(.5 * var(--padding-unit)) 0;
}

.section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: var(--padding-unit);
}

.start {
  align-self: start;
}

.end {
  align-self: end;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: var(--padding-unit);
}

.column {
  overflow: auto;
  overflow-x: hidden;
  max-height: calc(100 * var(--vh) - var(--page-head-height));
}

.heading {
  font-weight: bold;
}

.heading,
.text,
.input,
.button {
  padding: calc(.667 * var(--padding-unit)) var(--padding-unit);
  line-height: var(--text-line-height);
}

.input {
  font: inherit;
  border: solid 2px rgba(0, 0, 0, .2);
  margin: var(--input-margin);
}

.button {
  font: inherit;
  background-color: var(--button-background-color);
  color: var(--button-color);
  border: solid 2px rgba(0, 0, 0, .2);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: var(--input-margin);
}

.button.primary {
  background-color: var(--primary-color);
  color: var(--primary-color-alt);
}

.input:focus,
.button:focus {
  border-color: var(--outline-color);
  outline: none;
}

:disabled{
  filter: brightness(125%) contrast(50%);
}

.row {
  display: flex;
}

.row>.right {
  margin-left: auto;
}

.fit {
  flex: 1 1 auto;
}

.fill {
  flex-basis: 100%;
}
